{% extends 'navbar.html' %}
{% block content %}

<div class="overflow-hidden" style= "padding: 10px; white-space: nowrap;">
    <marquee behavior="scroll" direction="left" style="font-size: 18px; color: #333;">
        We’d love to help you with an order, for general customer service enquiries or product questions. The best time to reach us is Mon - Sat 9:00 am - 6:00 pm.
    </marquee>
</div>

    <div class="p-3 row" style="width: 100%; height: 100%; border-radius: 0px;margin-bottom: 60px;">
        <div class="row" style="margin: 30px;height: 500px;">
            <div class="col-md-6 ">
                <h1 class="mb-3" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Contact Us</h1> 

                <h5><i class="fa-solid fa-phone fa-lg me-4 mt-4" style="color: #f0850a;"></i>Call us on:</h5>
                <p class="ms-5">+91 9999999999</p>

                <h5><i class="fa-solid fa-envelope fa-lg me-4 mt-4" style="color: #f4870b;"></i>Email us at:</h5>
                <a href="mailto:craft@gmail.com" style="text-decoration: none;color: black;" class="ms-5">craft@gmail.com</a>


               
            </div>






            <div class="col-md-6" >
                <h5 class="mb-4"><i class="fa-solid fa-message fa-lg  me-4" style="color: #f2930d;"></i>Send us a message</h5>
                <p style="width: 500px;">We'd love to hear from you! Please fill out the form below, and we'll get back to you soon.</p>

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" style="width: 500px;" placeholder="Your Name" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" style="width: 500px;" placeholder="Your Email" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" style="width: 500px;" placeholder="Subject" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" style="width: 500px;" rows="4" placeholder="Your Message" required></textarea>
                    </div>

                    <button type="submit" class="btn text-light d-flex justify-content-center" style="width: 500px; height: 50px; border-radius: 0%; background-color: #ff4141; font-size: larger;">
                        Send Message
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
